.bodyContainer {
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10vh;
  margin: 7vh 0;
}

.categoriesContainer h3 {
  color: #0263bc;
  font-size: 23px;
  text-align: center;
}

.categoriesList {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.category img {
  width: 90px;
}

.catText {
  font-weight: 500;
  font-size: 20px;
}

.catText span {
  color: #f3b219;
}

.whyExpo h1 {
  text-align: right;
  width: 100%;
  font-size: 40px;
  color: #0263bc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.whyExpo h1 span {
  font-size: 50px;
}

.expoBody {
  margin: 20px 4vw 0 4vw;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 30px;
}

.benefitsBody h1 {
  font-size: 40px;
  color: #0263bc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.benefitsBody ul,
.productBody ul {
  list-style: none;
  margin: 20px 4vw 0 4vw;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 30px;
}

.benefitsBody ul li::before,
.productBody ul li::before {
  content: "\2023";
  color: rgb(14, 70, 155);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.productBody h1 {
  text-align: right;
  width: 100%;
  font-size: 40px;
  color: #0263bc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about h1 {
  font-size: 40px;
  color: #0263bc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutBody {
  margin: 20px 4vw 0 4vw;
  letter-spacing: 0.02em;
  line-height: 30px;
}

.achievements {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 50px;
}

.leftAchie,
.rightAchie {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blueBox {
  background-color: #0263bc;
  color: white;
  height: 70px;
  width: 25vw;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 17px;
}

.blueBox span {
  font-weight: 600;
  color: #f3b219;
  font-size: 25px;
}

.blueBox img {
  width: 50px;
}

.textBox {
  font-size: 15px;
  width: 25vw;
  padding: 10px 20px;
  font-weight: 300;
}

.textBox p {
  text-align: center;
}

.textBox span {
  color: #f3b219;
  font-size: 16px;
  font-weight: 500;
}
